<% provide :title, t(".title") %>

<div class="admin-bookings admin-common">
  <div class="header">
    <h1><%= t(".title") %></h1>
    <h3><%= t(".list_text", count: @pagy.count) %></h3>
  </div>

  <%= render partial: "form_search_booking"%>

  <%= render partial: "admin/shared/bookings_table", locals: {bookings: @bookings, pagy: @pagy} %>
</div>
