<% provide :title, t(".title") %>
<% provide :button_text, t(".button_text") %>
<div class="admin-guest">
  <div class="guest-header">
    <h1><%= t(".header") %></h1>
  </div>
  <%= render "form" %>
</div>
