.admin-room-types {
  // forms
  input,
  textarea,
  select,
  .uneditable-input {
    border: 1px solid #bbb;
    margin-bottom: 15px;
    width: 100%;
  }

  input {
    height: auto !important;
  }

  .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .table {
    margin-top: 1rem;
  }
}
