.form-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -15%;
  }

  h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .form {
    .form-group {
      margin-bottom: 15px;

      label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
      }

      .password-field {
        position: relative;

        .toggle-password {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }

    .btn-submit {
      width: 100%;
      background-color: #6366f1;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
      margin-top: 10px;

      &:hover {
        background-color: #4f46e5;
      }
    }

    .already-account {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;

      a {
        color: #6366f1;
        text-decoration: none;
      }
    }
  }
}
